<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="WebApp_ID" version="3.0">
    <description>HATOKA Offline Poker Application</description>
	<resource-env-ref>
	  <description>Account Client Configuration</description>
	  <resource-env-ref-name>hatoka/ClientConfigurationBeanFactory</resource-env-ref-name>
	  <resource-env-ref-type>de.hatoka.jndi.account.ClientConfigurationBean</resource-env-ref-type>
	</resource-env-ref>
    <servlet>
        <servlet-name>Offline Poker Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>de.hatoka.offlinepoker.internal.app.OfflinePokerApplication</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Offline Poker Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>