<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%ex%n</pattern>
    </encoder>
  </appender>
  <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/error.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/error.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%ex%n</pattern>
    </encoder>
  </appender>
  <appender name="SQL_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/debug.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/debug.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <root>
    <level value="WARN" />
    <appender-ref ref="ERROR_LOG" />
  </root>
  <logger name="org.apache.catalina.startup.Catalina">
    <level value="INFO" />
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="org.hibernate.SQL">
    <level value="WARN" />
    <appender-ref ref="SQL_LOG" />
  </logger>
  <logger name="de.hatoka">
    <level value="DEBUG" />
    <appender-ref ref="STDOUT" />
  </logger>
</configuration>