/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.navbar-form {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
.page-header{
  display: none;
}

/* Sidebar navigation */

.nav-sidebar > li  {
  height: 38px;
  vertical-align: middle;
}

.nav-sidebar > li > a {
  padding: 10px 10px;
}

.nav-sidebar > li > a.no-glyphicon {
  display:block;
}

.nav-sidebar > li:hover,
.nav-sidebar > li:focus {
  background-color: #eeeeee;
  text-decoration: none;
}

.nav-sidebar > .active,
.nav-sidebar > .active > a,
.nav-sidebar > li:hover.active,
.nav-sidebar > li:focus.active  {
  color: #fff;
  background-color: #428bca;
  text-decoration: none;
}

.nav-sidebar > li > a > span.badge {
  margin-left: 5px;
}

.table tr td form {
  display : inline;
}

.bigscreen tr td {
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 24px;
}
.bigscreen tr td.nextLevel {
    font-size: 10px;
}

/* Hide for mobile, show later */
@media (max-width: 768px) {
  .nav-sidebar {
    margin-top: 0px;
    margin-right: 0px; /* 20px padding + 1px border */
    margin-bottom: 0px;
    margin-left: 5px;
    padding-left: 0;
    list-style: none;
  }
    .sidebar {
    display: block;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    padding: 0px 10px 0 10px;
  }
    .td-collapse {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav-sidebar {
    margin-top: 0px;
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 0px;
    margin-left: -20px;
    padding-left: 0;
    list-style: none;
  }
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
  input , button {
    margin: 5px 0px;
  }
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
  .page-header {
    margin-top: 0;
    display: block;
  }
}
